.stButton>button {
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Exibe como bloco */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margens externas */
    cursor: pointer; /* Cursor ao passar o mouse */
    border-radius: 5px; /* Borda arredondada */
}

.stButton>button:hover {
    background-color: #3e8e41; /* Cor de fundo ao passar o mouse */
}
